In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import ipynb.fs.full.project_functions as prf

In [2]:
engine = create_engine('postgresql:///opportunity_youth') # since database is owned by me, no other credentials are needed

In [19]:
str_all = """
SELECT PWGTP, agep, SCHG, SCH, SCHL, ESR, SEX, PAOC
FROM pums_2017
WHERE (puma BETWEEN '11610' AND '11615')
AND (agep BETWEEN 16 AND 24)
"""

#for opportunity youth ESR = 3 or 6, SCH = 1 agep

str_yo = """
SELECT PWGTP, agep, SCHG, SCH, SCHL, ESR, SEX, PAOC
FROM pums_2017
WHERE (puma BETWEEN '11610' AND '11615')
AND (agep BETWEEN 16 AND 24)
AND (ESR = '3' OR ESR = '6')
AND (SCH = '1')
"""

In [15]:
df = pd.read_sql(sql = str_all, con = engine)

problem because more than half the data is n/a for whether or not

In [29]:
df['paoc'].isna().sum()

1892

In [38]:
df.head()

   pwgtp  agep  schg sch schl esr sex  paoc
0   19.0  23.0  None   1   11   1   1  None
1   19.0  20.0    14   2   14   6   1  None
2   15.0  19.0  None   1   13   6   2     4
3   17.0  22.0    15   2   21   6   1  None
4   28.0  18.0    15   2   19   3   1  None

In [16]:
df.paoc.value_counts()

4    1464
1     111
3      10
2       5
Name: paoc, dtype: int64

In [22]:
df_yo = pd.read_sql(sql = str_yo, con = engine)
df_yo.pwgtp.sum()

10614.0

In [36]:
df_yo.paoc.fillna(99, inplace = True)

In [39]:
df_yo[df_yo.paoc < 4].pwgtp.sum()

TypeError: '<' not supported between instances of 'str' and 'int'